{% extends 'base.html' %}

{% block content %}
<h2>История заказов</h2>
{% if orders %}
    <ul>
        {% for order in orders %}
            <li>
                Заказ №{{ order.id }} (Статус: {{ order.get_status_display }})
                <ul>
                    {% for item in order.order_items.all %}
                        <li>{{ item.flower.name }} - {{ item.quantity }} шт.</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>У вас пока нет заказов.</p>
{% endif %}
{% endblock %}